@model Webapp.Models.TinhLuong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TinhLuong</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nhan_vien_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nhan_vien_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.don_vi_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.don_vi_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.chuc_vu_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chuc_vu_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.he_so_luong_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.he_so_luong_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngay_bat_dau)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngay_bat_dau)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngay_ket_thuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngay_ket_thuc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
