@model IEnumerable<Webapp.Models.TinhLuong>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nhan_vien_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.don_vi_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chuc_vu_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.he_so_luong_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_bat_dau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_ket_thuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nhan_vien_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.don_vi_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chuc_vu_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.he_so_luong_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_bat_dau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_ket_thuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
