@model Qly_Luong_NVien_Model.NhanVien

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NhanVien</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.ma_so, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ma_so)
                @Html.ValidationMessageFor(model => model.ma_so)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ho, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ho)
                @Html.ValidationMessageFor(model => model.ho)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ten, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ten)
                @Html.ValidationMessageFor(model => model.ten)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gioi_tinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gioi_tinh)
                @Html.ValidationMessageFor(model => model.gioi_tinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngay_sinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngay_sinh)
                @Html.ValidationMessageFor(model => model.ngay_sinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dan_toc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dan_toc)
                @Html.ValidationMessageFor(model => model.dan_toc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dia_chi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dia_chi)
                @Html.ValidationMessageFor(model => model.dia_chi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cmnd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cmnd)
                @Html.ValidationMessageFor(model => model.cmnd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hinh_anh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hinh_anh)
                @Html.ValidationMessageFor(model => model.hinh_anh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngay_vao_lam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngay_vao_lam)
                @Html.ValidationMessageFor(model => model.ngay_vao_lam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngay_nghi_lam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngay_nghi_lam)
                @Html.ValidationMessageFor(model => model.ngay_nghi_lam)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
