@model IEnumerable<Qly_Luong_NVien_Model.NhanVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ma_so)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioi_tinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_sinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dan_toc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dia_chi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cmnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh_anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_vao_lam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_nghi_lam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ma_so)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gioi_tinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_sinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dan_toc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dia_chi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cmnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinh_anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_vao_lam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_nghi_lam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
